<!-- Include home component -->
{% extends 'base.html' %}

{% block content %}
<title>Home</title>

<div class="relative rounded-lg overflow-hidden shadow-lg m-4">

    {% load static %}
    <!-- Main image of landing -->
    <img src="{% static 'antioquia.avif' %}" alt="main_photo" class="h-600 w-full">
    
    <!-- Text container -->
    <div class="absolute inset-0 flex flex-col items-center justify-center text-white text-center bg-black/50">
        <h1 class="text-3xl font-bold">ANTIOQUIA OFF THE MAP</h1>
        <p class="text-lg mt-2">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita totam a voluptas perferendis ea est consectetur accusantium magnam.
        </p>
    </div>
</div>

<!-- Recommendated destinations div -->
<div class="text-center my-8">
    <h2 class="text-2xl font-bold underline">Destinos Recomendados</h2>
</div>

<!-- Images and links container -->
<div class="grid grid-cols-2 md:grid-cols-3 gap-4 px-4 mb-8">
    {% for municipality in municipalities %}
    <a href="{% url 'municipality_detail' municipality.id %}" class="block">
        <div class="relative rounded-lg overflow-hidden shadow-lg">
            <!-- Image -->
            <img src="{{municipality.image.url}}" alt="{{ municipality.name }}" class="w-full h-48 object-cover">
    
            <!-- Dark layer -->
            <div class="absolute inset-0 bg-black/50"></div>
    
            <!-- Center text -->
            <div class="absolute inset-0 flex items-center justify-center">
                <span class="text-white font-bold">{{ municipality.name|upper }}</span>
            </div>
        </div>
    </a>
    {% endfor %}
</div> 
{% endblock %}